body{
    margin:0;
    padding:0;
    background-color: rgb(209, 209, 209);
}
*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    text-align: center;
    margin: 1em 0;
}
header div img{
    height:10em;
}
nav{
    margin: 0 auto;
    text-align: center;
    background-color: rgb(253, 253, 198);
    width:95%;
    border-radius: 10px;
}
nav ul{
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding:1em 0;
}
nav ul li a{
    text-decoration: none;
    color: #495e57;
    font-size: 1.2em;
    font-weight: 800;
}
nav ul li a:hover{
    border-bottom: 1px #495e57 solid;
    padding-bottom: 0.3em;
}
nav ul li{
    margin: 0em 1.3em;
}
main{
    width:95%;
    margin:0 auto;
}
article{
    background-color: rgb(253, 253, 198);
    border-radius: 10px;
}
.mainBanner{
    margin: 1em auto;
    padding: 0.5em;
}
.mainBanner h1{
    font-size: 2.5em;
    left:3em;
    color: white;
    text-align: center;
    position: absolute;
}
.mainBanner div img{
    width:100%;
    height:21em;
}
.mainBanner p{
    color:#495e57;
    font-size: 1.1em;
    font-weight: 700;
}
.part2{
    display: flex;
    width:100%;
    margin: 0 auto;
}
.part2 article{
    margin: 0 0.2em;
    padding:0.6em;
}
.part2 article div img{
    width:25em;
    height: 15em;
}
footer{
    display: flex;
    margin: 1em auto;
    margin-bottom: 0.2em;
}
footer div img{
    width: 2em;
    height: 2em;
}
footer div{
    margin:0 auto;
    width: auto;
    text-align: center;
    margin-left:0;
}
footer > div:first-child {
    margin-left: auto;
    margin-right: 1em;
}